body{
    background-size: cover;
    background-image: url(./images/bg.jpg);
}

.headder{
    display: flex;
}
.head1{
    width: 20%;
    padding-left: 5%;
}
.head2{
    width: 80%;
    font-size: 30px;
    padding-top: 2%;padding-left:5%;
    font-family: 'Germania One', cursive;

}
.head3{
    width: 100%;
}
.img2{
    width: 50%;
    padding-left: 10%;
}
.imgs{
    width: 100%;
    padding-left: 5%;
}

.a{
    color: brown;
    border-style: groove;
    border-radius:50px;
    box-shadow: 2px 2px 2px grey;
    background-color:#417966;

    text-align: center;
}
h2{

    text-align: center;
}
body{
    background-size: cover;
}
.main{
  display: flex;
}
.form{
  font-family: 'Baloo Chettan', cursive;
  padding-left: 5%;
  font-size: 20px;
}
.headd2{
  font-family: 'Lobster', cursive;
  color: blue;

}




.sp1{
  width: 20%
}
.login{
  width: 60%;
  background-color: #ffff8f66;
  border-radius: 30px;border-style: groove;
}
.sp3{
  width: 20%;
}
.buttoons{
  text-align: center;
}










@media  screen and (min-width:360px) and (max-width:640px) {
  body{
      background-size: cover;
      background-image: url(./images/bg.jpg);
  }

  .headder{
      display: flex;
  }
  .head1{
      width: 20%;
      padding-left: 5%;
  }
  .head2{
      width: 80%;
      font-size: 8px;
      padding-top: 2%;
      font-family: 'Germania One', cursive;

  }
  .head3{
      width: 100%;
  }
  .img2{
      width: 50%;
  }
  .imgs{
      width: 100%;
      padding-left: 5%;
  }

  .a{
      color: brown;
      border-style: groove;
      border-radius:50px;
      box-shadow: 2px 2px 2px grey;
      background-color:#417966;

      text-align: center;
  }
  h2{

      text-align: center;
  }
  body{
      background-size: cover;
  }
  .main{
    display: flex;
  }
  .form{
    font-family: 'Baloo Chettan', cursive;
    padding-left: 5%;
    font-size: 20px;
  }
  .headd2{
    font-family: 'Lobster', cursive;
    color: blue;

  }


  .sp1{
    width: 10%
  }
  .login{
    width: 80%;
    background-color: #ffff8f66;
    border-radius: 30px;border-style: groove;
  }
  .sp3{
    width: 10%;
  }
  .buttoons{
    text-align: center;
  }
  .inpppt{
    width: 100%;
  }


}

@media  screen and (min-width:641px) and (max-width:1024px) {

  body{
      background-size: cover;
      background-image: url(./images/bg.jpg);
  }
  .login
  {
    width: 100%;
  }
  .headder{
      display: flex;
  }
  .head1{
      width: 20%;
      padding-left: 5%;
  }
  .head2{
      width: 80%;
      font-size: 25px;
      padding-top: 2%;
      font-family: 'Germania One', cursive;

  }
  .head3{
      width: 100%;
  }
  .img2{
      width: 50%;
  }
  .imgs{
      width: 100%;
      padding-left: 5%;
  }

  .a{
      color: brown;
      border-style: groove;
      border-radius:50px;
      box-shadow: 2px 2px 2px grey;
      background-color:#417966;

      text-align: center;
  }
  h2{

      text-align: center;
  }
  body{
      background-size: cover;
  }
  .main{
    display: flex;
  }
  .form{
    font-family: 'Baloo Chettan', cursive;
    padding-left: 5%;
    font-size: 40px;
  }
  .headd2{
    font-family: 'Lobster', cursive;
    color: blue;

  }


  .sp1{
    width: 10%
  }
  .login{
    width: 80%;
    background-color: #ffff8f66;
    border-radius: 30px;border-style: groove;
  }
  .sp3{
    width: 10%;
  }
  .buttoons{
    text-align: center;
  }
  .inpppt{
    width: 100%;
  }



}
